<table>
  <thead>
    <tr>
      <th>
        name
      </th>
      <th>
        minutes walking
      </th>
      <th>
        street address
      </th>
      <th>
        tags
      </th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
        </td>
        <td>
          <%= restaurant.walking_minutes_away %>
        </td>
        <td>
          <%= link_to restaurant.street_address, restaurant.maps_url %>
        </td>
        <td>
          <% restaurant.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </td>
    <% end %>
    <tr>
      <td><%= link_to '+', new_restaurant_path %></td>
    </tr>
  </tbody>
</table>
