<div>
  Name: <%= @restaurant.name %>
</div>
<div>
  Walking distance: <%= @restaurant.walking_minutes_away %>
</div>
<div>
  Phone: <%= @restaurant.phone_number %>
</div>
<div>
  Address: <%= @restaurant.street_address %>
</div>
<% if @restaurant.menu_link.present? %>
  <div>
    Menu: <a href="<%= @restaurant.menu_link %>">Here</a>
  </div>
<% end %>

<div>
  <%= link_to 'View Ratings', restaurant_ratings_path(@restaurant) %>
</div>

<div>
  <%= link_to 'Rate!', new_restaurant_rating_path(@restaurant) %>
</div>
