<div>
  Name: <%= @restaurant.name %>
</div>
<div>
  Walking time (minutes): <%= @restaurant.walking_minutes_away %>
</div>
<div>
  Phone: <%= @restaurant.phone_number %>
</div>
<div>
  Address: <%= link_to @restaurant.street_address, @restaurant.maps_url %>
</div>
<% if @restaurant.menu_link.present? %>
  <div>
    Menu: <a href="<%= @restaurant.menu_link %>">Here</a>
  </div>
<% end %>
<div>
  Tags:
  <% @restaurant.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</div>

<div>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
</div>

<div>
  <%= link_to 'View Ratings', restaurant_ratings_path(@restaurant) %>
</div>

<div>
  <%= link_to 'Rate!', new_restaurant_rating_path(@restaurant) %>
</div>

<div>
  <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
